.open-button {
	background-color: #555;
	padding: 16px 20px;
	border: none;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
	z-index: 5;
}

a > .open-button {
	text-decoration: none;
	color: white;
	cursor: pointer;
	text-align: center;
}
